[Unit]
Description=lldp Service
After=network.target nvidia-vgpu-mgr.service multi-user.target

[Service]
Type=idle
RemainAfterExit=no

ExecStart=/etc/vgpu/vgpu.sh start
ExecStop=/etc/vgpu/vgpu.sh stop

[Install]
WantedBy=multi-user.target
